{% extends "layout.html" %}
{% block title %}Create Lot{% endblock %}
{% block content %}
  <h2>Create a New Parking Lot</h2>
  <form method="POST">
    {{ form.hidden_tag() }}
    <div class="mb-3">
      {{ form.name.label }} {{ form.name(class="form-control") }}
    </div>
    <div class="mb-3">
      {{ form.address.label }} {{ form.address(class="form-control") }}
    </div>
    <div class="mb-3">
      {{ form.pin.label }} {{ form.pin(class="form-control") }}
    </div>
    <div class="mb-3">
      {{ form.price.label }} {{ form.price(class="form-control") }}
    </div>
    <div class="mb-3">
      {{ form.max_spots.label }} {{ form.max_spots(class="form-control") }}
    </div>
    {{ form.submit(class="btn btn-success") }}
  </form>
{% endblock %}
